David Culhane
<br>
**Collecting and Processing API Data on Inflation**
<br>
<br>
The last data component this project will be working with is data acquired via API call. Since this term project is looking at inflation rates around the world over the years, the data acquired through API call will pertain to inflation. Our flat data source had quarterly values of the consumer price index according to the World Bank and our web source was a wikitable of annual changes in the value of the consumer price index according to the United Nations. 
<br>
<br>
This doesn't leave a ton of options for more inflation data outside of contextual information. This context can be found using the NewsAPI, a REST API that can b used to search the internet for news articles. I have obtained a key for NewsAPI and can search for articles pertaining to inflation by using keywords and timeframes of publication. After acquiring data, TFIDF vectorization can be applied to find the important words in the articles found. This can be done fo each country and the results - the TFIDF matrices and lists of important words - can be stored in a dataframe.
<br>
<br>
***Part 1: Helper Functions for Acquiring and Processing the Data from NewsAPI***
<br>
<br>
The first thing to do will be to build a function to help call the NewsAPI and acquire articles for processing. This function will want to take search parameters for a list of keywords (country, inflation) and timeframes (optional, using YYYY-MM-DD format). The response from NewsAPI will give a list of articles in JSON format with information on the publisher, title, description of the article, link to the article, when the article was published, and the start of the article.

In [2]:
# Libraries to Import for use throughout the script
import requests
import urllib.parse, urllib.error
import json
from bs4 import BeautifulSoup
import unicodedata
import sys
from nltk.tokenize import word_tokenize
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np

In [3]:
# Writing a function to call NewsAPI for
def newsapi_crier(keywords, time_start=None, time_end=None):
    # Making the Query URL
    base_url = 'https://newsapi.org/v2/everything?'
    apikey = 'apiKey=*******************************'
    subjects = keywords
    if time_start != None:
        search_start = 'from=' + str(time_start) + '&'
    else:
        search_start = ''
    if time_end != None:
        search_end = 'to=' + str(time_end) + '&'
    else:
        search_end = ''
    # To make sure the keywords are together correctly, we will need to bring them together with AND between them
    keystring = ''
    if len(subjects) > 1:
        for word in subjects:
            keystring = keystring + str(word) + ' AND '
        keystring = '(' + keystring[:-5] + ')'
    else:
        keystring = keystring + str(subjects[0])
    q = urllib.parse.urlencode({'q' : keystring}) + '&'
    query_url = base_url + q + search_start + search_end + 'language=en&' + 'sortBy=relevancy&' + apikey
    # Making the Query for articles
    try:
        response = requests.get(query_url)
        news = json.loads(response.text)
        return news
    except urllib.error.URLError as e:
        print(f"Error: {e.reason}")

The newsapi_crier function will return a list of dictionaries that contain information about articles found in the API call. One of the parameters for each article is url, a link to the article itself. Once we have a set of articles, we will want to go to the article at the url and scrape its text. It will be smart to do that with a separate function.

In [5]:
# Writing a function to scrape the news text from an article by passing the article's url
def news_scraper(url):
    try:
        response = requests.get(url)  # Gets the HTML data from the supplied url
        if response.status_code == 200:
            encoding = response.encoding  # Checks the encoding of the response
            decoded = response.content.decode(encoding)  # Decodes the response
            soup = BeautifulSoup(decoded)  # Makes the soup
            paragraphs = soup.find_all('p')  # Finds all of the text using <p> tags
            # Sometimes, a line/paragraph in a tag can be repeated. We don't need those repeating lines/paragraphs.
            # We also need to add them into a list for processing
            lines = []
            for line in paragraphs:  # Looping through the lines/paragraphs to add them to a list while making sure no duplicates are added
                if line not in lines:
                    text = line.getText()
                    lines.append(text)
                else: continue
            article = ''  # Bringing all the lines/paragraphs of the article together as a single string
            for line in lines:
                article = article + line + ' '
            return article
        else:
            print('Unable to scrape from URL. Status Code:', response.status_code)
            return 400  # Sentinel value
    except ConnectionError:  # ConnectionError exception that was encountered
        return 400
    except RemoteDisconnected:  # RemoteDisconnected error exception that was encountered
        return 400
    except ProtocolError:  # ProtocolError exception that was encountered
        return 400
    except:
        return 400

news_scraper will be able to scrape the text from article urls fed into it and process it into a single string. Ideally, this string can be stored in a list of strings with each string being an article. To get closer to TFIDF vectorization though, we will need to process the text itself. All of the text will need to be of the same case, have punctuation and stop words removed, and then the words will need to be stemmed. Another helper function can be written to do that.

In [7]:
# Writing a function to process the scraped text
def text_processor(text):
    # Changing all text to lowercase
    lower = text.lower()  
    # Removing punctuation
    punctuation = dict.fromkeys(
        (i for i in range(sys.maxunicode)
        if unicodedata.category(chr(i)).startswith('P')
        ),
        ' ')
    runon = lower.translate(punctuation)
    # Tokenizing the words in the text
    tokens = word_tokenize(runon)
    # Updating stop words
    stop_words = stopwords.words('english')  
    # Removing stop words
    stopped = []
    for word in tokens:
        if word not in stop_words:
            stopped.append(word)  # Only adds the word if it is not a stop word
        else:
            continue
    # Stemming the list of words
    porter = PorterStemmer()
    stems = []
    for word in stopped:
        stem = porter.stem(word)
        stems.append(stem)
    # Recombining the stems into one string
    processed = str()
    for stem in stems:
        processed = processed + stem + ' '
    return processed

The text_processor function will take a body of text and process it to make sure everything is lowercase, without punctuation, without stop words, tokenized, stemmed, and then put back together. Once the number of desired articles have been processed, the processed texts as a list are then ready for TFIDV vectorization. Once that's been done, we will want the top words A separate helping function can do that.

In [9]:
# Writing a function to apply TFIDF Vectorzation to the processed text
def top_words_tfidf(corpus):
    tfidf = TfidfVectorizer()  # Renames th TFIDF Vectorizer
    tfidf_array = tfidf.fit_transform(corpus).toarray()  # Runs TFIDF on the corpus and turns it into an array
    vocab = tfidf.vocabulary_  # Acquires the vocabulary from running TFIDF
    reverse_vocab = {v:k for k,v in vocab.items()}  
    feature_names = tfidf.get_feature_names_out()  # Takes the vocabulary and creates alist of feature names for a dataframe
    df_tfidf = pd.DataFrame(tfidf_array, columns = feature_names)  # Creates the dataframe holding words and TFIDF values
    top_words = df_tfidf.max().sort_values(ascending=False).index[:10].to_list()  # Selects the words with the largest 10 TFIDF values
    return top_words  # Returns list of words

With the helping functions now in place, the actual work can now begin on organizing and storing the information into a dataframe that can be used to merge with the dataframes from the previous milestones.
<br>
<br>
***Part 2: Creating the Dataframe***
<br>
<br>
Now that we have functions that can grab news articles and process their text, we need to actually create a dataframe to store data in. Previous miletsones used CSVs or a web table to make sure countries were available. The initial inflation dataset could be loaded in order to get a list of countries. This list of countries can then be the basis of a new dataframe where data from these articles can be stored. The problem that arises is that NewsAPI allows for only 100 queries in 24 hours and a maximum of 50 in a 12 hour period. This means that for this assignment, we need to whittle the list of countries down to no more than *50* countries. The final product of the flat dataset, hcpiqr_129 can be loaded in and become the basis of the news words dataframe.

In [11]:
# Loading the inflation dataframe
hcpiqr_129 = pd.read_csv('hcpiqr_129.csv')

***Transformation 1: Dropping NAs***
<br>
<br>
The intention of the hcpiqr_129 dataframe was to allow for a large number of countries to be analyzed and allow for countries that had reported enough data since they came into existence to be included. The problem is that this dataframe has 126 countries listed in it, more than the 50 we can possibly search for news articles at a single time without taking breaks and storing data (a major inconvenience for academic assignments whose grading depends on the code working as intended at its initial running). To cut down on the number of countries in the dataframe, we can drop any/all countries with NA appearing in their data. It's unfortunate but necessary.

In [13]:
# Dropping NAs from hcpiqr_129
no_nas = hcpiqr_129.dropna(ignore_index=True)
no_nas

,Unnamed: 0,country,region,1970/3,1970/6,1970/9,1970/12,1971/3,1971/6,1971/9,...,2021/9,2021/12,2022/3,2022/6,2022/9,2022/12,2023/3,2023/6,2023/9,2023/12
0,6,Argentina,Latin America and the Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,512.33,563.49,638.17,754.37,910.07,1080.86,1288.95,1606.81,2055.76,2948.51
1,9,Australia,Australia and New Zealand,8.92,9.01,9.10,9.29,9.38,9.47,9.75,...,111.17,112.65,115.07,117.11,119.25,121.48,123.15,124.17,125.66,126.40
2,10,Austria,Western Europe,22.48,22.69,23.02,23.23,23.45,23.69,24.17,...,111.52,113.29,115.59,119.16,122.44,125.29,127.63,129.69,130.77,132.10
3,17,Belgium,Western Europe,19.08,19.25,19.38,19.47,19.74,20.00,20.26,...,111.54,114.16,117.96,119.96,123.00,126.81,126.35,125.94,127.35,127.85
4,21,Bolivia,Latin America and the Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,151.03,151.03,151.86,152.50,153.79,155.65,156.03,156.72,158.20,158.66
5,26,Burkina Faso,Sub-Saharan Africa,14.85,15.25,15.45,14.54,14.57,15.51,15.68,...,114.96,118.52,121.84,132.03,136.23,133.04,128.75,131.66,133.65,132.98
6,27,Burundi,Sub-Saharan Africa,1.67,1.66,1.66,1.67,1.71,1.72,1.72,...,213.21,218.96,230.08,247.00,255.54,274.21,298.90,319.44,324.80,334.93
7,30,Cameroon,Sub-Saharan Africa,7.75,7.91,7.95,7.91,8.10,8.08,8.20,...,124.85,125.84,128.15,130.97,133.56,135.59,138.36,141.43,143.37,144.11
8,31,Canada,Northern America,15.96,16.04,16.17,16.09,16.17,16.38,16.67,...,112.67,113.80,116.14,119.73,120.73,121.39,122.12,123.94,125.18,125.28
9,35,Chile,Latin America and the Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,120.34,123.79,127.16,132.10,136.77,139.85,142.15,143.63,144.47,146.27
10,37,Colombia,Latin America and the Caribbean,0.13,0.14,0.14,0.14,0.15,0.15,0.16,...,128.10,129.37,134.27,138.59,141.97,145.71,152.12,155.82,158.16,160.23
11,41,Cyprus,Western Asia,15.31,15.38,15.71,15.82,15.95,16.09,16.16,...,105.33,106.90,107.90,113.25,115.32,115.97,114.93,116.48,118.45,118.61
12,43,Denmark,Northern Europe,13.21,13.42,13.80,13.98,14.01,14.32,14.52,...,105.67,106.83,109.07,112.67,115.40,116.70,117.07,116.67,117.87,117.23
13,46,Dominican Republic,Latin America and the Caribbean,0.55,0.55,0.55,0.56,0.54,0.57,0.57,...,149.64,152.92,157.34,160.90,163.04,164.96,167.57,168.18,169.90,171.51
14,47,Ecuador,Latin America and the Caribbean,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,124.20,124.84,126.19,127.88,129.06,129.59,129.92,130.48,132.01,131.67
15,48,El Salvador,Latin America and the Caribbean,2.04,2.05,2.08,2.04,2.06,2.07,2.07,...,115.43,117.36,119.44,122.08,124.12,126.01,127.36,127.61,128.03,128.53
16,56,France,Western Europe,14.36,14.53,14.68,14.85,15.06,15.29,15.50,...,106.75,107.58,109.18,111.75,113.00,114.11,115.72,117.53,118.29,118.35
17,57,Gabon,Sub-Saharan Africa,12.60,12.98,11.65,11.66,12.21,12.73,12.88,...,125.81,126.51,127.99,129.65,132.61,133.56,134.14,135.36,136.52,136.81
18,59,Germany,Western Europe,29.38,29.64,29.68,29.97,30.68,31.14,31.40,...,109.19,110.17,112.21,115.41,117.27,119.63,121.45,122.96,123.84,123.88
19,60,Ghana,Sub-Saharan Africa,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,342.27,350.84,373.55,421.51,457.96,513.64,554.49,590.68,637.29,657.43
20,61,Greece,Southern Europe,1.35,1.38,1.35,1.39,1.40,1.43,1.40,...,100.56,104.22,106.33,112.06,112.31,112.84,112.58,114.89,114.86,116.57
21,64,Guatemala,Latin America and the Caribbean,1.89,1.91,1.92,1.89,1.89,1.89,1.91,...,154.21,155.69,157.28,162.30,167.72,170.27,172.12,172.97,175.37,177.91
22,68,Honduras,Latin America and the Caribbean,1.94,1.97,1.99,1.97,2.00,2.02,2.01,...,162.96,165.87,170.30,176.27,179.96,182.68,186.07,187.78,190.15,192.46
23,70,Iceland,Northern Europe,0.10,0.11,0.11,0.11,0.11,0.12,0.11,...,118.18,119.90,122.31,126.31,129.60,131.20,134.52,138.19,139.67,141.55
24,71,India,Southern Asia,2.99,3.08,3.15,3.16,3.10,3.11,3.25,...,135.55,138.09,138.12,141.72,143.74,145.91,146.46,148.85,152.92,152.89
25,72,Indonesia,South-eastern Asia,0.88,0.87,0.87,0.88,0.94,0.91,0.89,...,118.28,118.92,120.43,122.67,124.42,125.51,126.74,127.51,128.00,128.88
26,74,Ireland,Northern Europe,8.18,8.42,8.47,8.65,8.88,9.16,9.22,...,104.33,106.12,107.58,111.40,113.36,115.42,116.16,118.81,120.38,120.64
27,75,Israel,Western Asia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,102.87,103.26,104.30,106.25,107.78,108.64,109.71,111.16,111.88,112.27
28,76,Italy,Southern Europe,5.58,5.65,5.70,5.79,5.86,5.92,5.97,...,104.90,106.13,109.33,111.33,113.70,118.60,119.07,119.57,120.03,119.77
29,78,Japan,Eastern Asia,30.95,31.39,31.46,32.34,32.82,33.39,33.77,...,101.64,101.84,102.52,103.54,104.56,105.78,106.25,107.03,107.85,108.87
30,91,Luxembourg,Western Europe,19.88,20.12,20.26,20.40,20.73,21.03,21.18,...,109.01,110.91,113.21,116.11,116.43,117.62,118.01,120.17,121.10,121.42
31,97,Malta,Southern Europe,24.66,24.70,24.80,25.37,25.58,25.62,25.35,...,116.27,117.59,118.70,122.67,124.53,126.19,127.09,129.56,129.81,130.77
32,100,Mauritius,Sub-Saharan Africa,3.55,3.54,3.47,3.46,3.52,3.50,3.52,...,139.96,141.51,147.32,152.37,156.01,158.60,162.98,164.57,164.86,165.20
33,101,Mexico,Latin America and the Caribbean,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,130.13,133.00,135.81,138.37,141.21,143.65,145.94,146.28,147.74,149.99
34,105,Morocco,Northern Africa,12.55,12.30,12.31,12.58,12.89,12.89,12.96,...,113.57,115.02,116.29,120.41,122.66,124.52,126.85,128.59,128.70,129.21
35,109,Nepal,Southern Asia,4.26,4.51,4.63,4.48,4.32,4.32,4.52,...,208.28,213.61,213.51,219.37,225.63,230.66,229.57,235.45,243.05,244.35
36,110,Netherlands,Western Europe,22.51,22.84,23.11,23.42,23.97,24.58,24.86,...,110.58,113.12,116.42,119.30,124.14,125.85,124.13,126.03,127.33,126.86
37,112,New Zealand,Australia and New Zealand,6.50,6.60,6.72,6.99,7.17,7.32,7.47,...,113.07,114.70,116.75,118.69,121.25,122.98,124.52,125.85,128.09,128.71
38,114,Niger,Sub-Saharan Africa,14.37,14.86,14.95,15.15,15.04,15.36,15.81,...,119.41,117.62,120.09,121.96,123.54,121.39,121.89,123.15,129.97,130.00
39,118,Norway,Northern Europe,12.54,12.71,12.97,13.21,13.43,13.55,13.71,...,116.70,118.07,118.90,121.77,124.57,125.90,126.77,129.67,130.20,131.60
40,120,Pakistan,Southern Asia,2.89,2.93,2.99,3.03,3.07,3.06,3.12,...,219.44,231.69,237.27,249.18,274.54,289.48,312.05,335.12,354.25,372.26
41,122,Panama,Latin America and the Caribbean,28.86,29.15,29.43,29.67,29.80,29.75,29.85,...,122.62,123.21,124.32,127.15,125.69,125.36,126.84,127.46,127.82,127.87
42,124,Paraguay,Latin America and the Caribbean,0.56,0.56,0.57,0.57,0.59,0.58,0.59,...,154.36,158.84,163.38,167.96,170.25,171.81,174.88,176.11,175.84,177.76
43,125,Peru,Latin America and the Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,139.84,142.46,144.65,148.76,152.36,154.73,157.43,160.03,161.04,160.77
44,126,Philippines,South-eastern Asia,1.76,1.85,1.95,2.05,2.19,2.24,2.37,...,138.22,139.36,141.81,144.43,147.25,150.38,153.58,153.16,155.15,156.88
45,128,Portugal,Southern Europe,1.69,1.69,1.71,1.75,1.82,1.88,1.93,...,104.67,106.02,107.64,113.01,114.19,116.51,116.26,117.94,118.13,118.48
46,132,Samoa,Polynesia,4.44,4.49,4.52,4.52,4.58,4.64,4.76,...,121.81,123.77,125.35,128.69,139.43,136.19,140.05,143.79,144.63,143.40
47,139,Singapore,South-eastern Asia,30.72,30.52,30.77,30.82,31.34,30.93,31.34,...,116.91,118.73,120.71,123.11,125.48,126.62,128.13,129.38,130.61,131.71
48,143,South Africa,Sub-Saharan Africa,1.75,1.79,1.82,1.84,1.85,1.89,1.92,...,132.91,134.31,136.33,139.53,143.45,144.62,146.24,148.53,150.65,152.76
49,145,Spain,Southern Europe,4.70,4.73,4.88,4.99,5.07,5.18,5.24,...,106.91,110.31,112.60,116.30,117.67,117.58,118.29,119.84,120.98,121.42
50,146,Sri Lanka,Southern Asia,1.97,1.99,1.98,2.00,2.00,2.02,2.03,...,176.50,186.78,202.66,252.88,298.87,303.71,307.95,307.14,306.23,311.83
51,149,Sweden,Northern Europe,12.92,13.11,13.31,13.51,14.03,14.01,14.23,...,109.78,111.37,113.18,116.89,120.45,124.24,126.10,128.36,129.75,131.14
52,150,Switzerland,Western Europe,33.38,33.66,34.11,34.83,35.46,35.95,36.39,...,101.44,101.83,102.59,104.21,104.87,104.82,105.87,106.44,106.55,106.51
53,162,United Kingdom,Northern Europe,8.17,8.37,8.46,8.64,8.88,9.19,9.32,...,112.00,114.10,115.50,119.70,121.80,124.80,125.90,128.90,129.50,130.30
54,163,United States,Northern America,16.03,16.30,16.48,16.71,16.83,17.02,17.20,...,115.45,117.20,119.87,123.44,125.06,125.52,126.83,128.35,129.46,129.59
55,164,Uruguay,Latin America and the Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,242.11,246.40,254.24,259.92,265.54,267.59,273.67,277.84,276.85,280.41

We now have 56 countries to work with, still too many. At least 6 more countries need to be dropped.
<br>
<br>
***Transformation 2: Randomly Removing Countries***
<br>
<br>
With at least 6 additional countries to remove, some criteria for removal has to be decided upon. The best way to do it without any sort of bias would be to do it randomly. A random number generator can be used to generate random numbers between 0 and 55 in order to drop rows by index.

In [15]:
# Generating the random numbers
drops = np.random.default_rng().integers(low=0, high=55, endpoint=True, size=6)
drops

array([ 9, 30, 27, 37, 34, 21], dtype=int64)

In [16]:
# Dropping the countries with the indices generated
fifty_countries = no_nas.drop(drops)
fifty_countries

,Unnamed: 0,country,region,1970/3,1970/6,1970/9,1970/12,1971/3,1971/6,1971/9,...,2021/9,2021/12,2022/3,2022/6,2022/9,2022/12,2023/3,2023/6,2023/9,2023/12
0,6,Argentina,Latin America and the Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,512.33,563.49,638.17,754.37,910.07,1080.86,1288.95,1606.81,2055.76,2948.51
1,9,Australia,Australia and New Zealand,8.92,9.01,9.10,9.29,9.38,9.47,9.75,...,111.17,112.65,115.07,117.11,119.25,121.48,123.15,124.17,125.66,126.40
2,10,Austria,Western Europe,22.48,22.69,23.02,23.23,23.45,23.69,24.17,...,111.52,113.29,115.59,119.16,122.44,125.29,127.63,129.69,130.77,132.10
3,17,Belgium,Western Europe,19.08,19.25,19.38,19.47,19.74,20.00,20.26,...,111.54,114.16,117.96,119.96,123.00,126.81,126.35,125.94,127.35,127.85
4,21,Bolivia,Latin America and the Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,151.03,151.03,151.86,152.50,153.79,155.65,156.03,156.72,158.20,158.66
5,26,Burkina Faso,Sub-Saharan Africa,14.85,15.25,15.45,14.54,14.57,15.51,15.68,...,114.96,118.52,121.84,132.03,136.23,133.04,128.75,131.66,133.65,132.98
6,27,Burundi,Sub-Saharan Africa,1.67,1.66,1.66,1.67,1.71,1.72,1.72,...,213.21,218.96,230.08,247.00,255.54,274.21,298.90,319.44,324.80,334.93
7,30,Cameroon,Sub-Saharan Africa,7.75,7.91,7.95,7.91,8.10,8.08,8.20,...,124.85,125.84,128.15,130.97,133.56,135.59,138.36,141.43,143.37,144.11
8,31,Canada,Northern America,15.96,16.04,16.17,16.09,16.17,16.38,16.67,...,112.67,113.80,116.14,119.73,120.73,121.39,122.12,123.94,125.18,125.28
10,37,Colombia,Latin America and the Caribbean,0.13,0.14,0.14,0.14,0.15,0.15,0.16,...,128.10,129.37,134.27,138.59,141.97,145.71,152.12,155.82,158.16,160.23
11,41,Cyprus,Western Asia,15.31,15.38,15.71,15.82,15.95,16.09,16.16,...,105.33,106.90,107.90,113.25,115.32,115.97,114.93,116.48,118.45,118.61
12,43,Denmark,Northern Europe,13.21,13.42,13.80,13.98,14.01,14.32,14.52,...,105.67,106.83,109.07,112.67,115.40,116.70,117.07,116.67,117.87,117.23
13,46,Dominican Republic,Latin America and the Caribbean,0.55,0.55,0.55,0.56,0.54,0.57,0.57,...,149.64,152.92,157.34,160.90,163.04,164.96,167.57,168.18,169.90,171.51
14,47,Ecuador,Latin America and the Caribbean,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,124.20,124.84,126.19,127.88,129.06,129.59,129.92,130.48,132.01,131.67
15,48,El Salvador,Latin America and the Caribbean,2.04,2.05,2.08,2.04,2.06,2.07,2.07,...,115.43,117.36,119.44,122.08,124.12,126.01,127.36,127.61,128.03,128.53
16,56,France,Western Europe,14.36,14.53,14.68,14.85,15.06,15.29,15.50,...,106.75,107.58,109.18,111.75,113.00,114.11,115.72,117.53,118.29,118.35
17,57,Gabon,Sub-Saharan Africa,12.60,12.98,11.65,11.66,12.21,12.73,12.88,...,125.81,126.51,127.99,129.65,132.61,133.56,134.14,135.36,136.52,136.81
18,59,Germany,Western Europe,29.38,29.64,29.68,29.97,30.68,31.14,31.40,...,109.19,110.17,112.21,115.41,117.27,119.63,121.45,122.96,123.84,123.88
19,60,Ghana,Sub-Saharan Africa,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,342.27,350.84,373.55,421.51,457.96,513.64,554.49,590.68,637.29,657.43
20,61,Greece,Southern Europe,1.35,1.38,1.35,1.39,1.40,1.43,1.40,...,100.56,104.22,106.33,112.06,112.31,112.84,112.58,114.89,114.86,116.57
22,68,Honduras,Latin America and the Caribbean,1.94,1.97,1.99,1.97,2.00,2.02,2.01,...,162.96,165.87,170.30,176.27,179.96,182.68,186.07,187.78,190.15,192.46
23,70,Iceland,Northern Europe,0.10,0.11,0.11,0.11,0.11,0.12,0.11,...,118.18,119.90,122.31,126.31,129.60,131.20,134.52,138.19,139.67,141.55
24,71,India,Southern Asia,2.99,3.08,3.15,3.16,3.10,3.11,3.25,...,135.55,138.09,138.12,141.72,143.74,145.91,146.46,148.85,152.92,152.89
25,72,Indonesia,South-eastern Asia,0.88,0.87,0.87,0.88,0.94,0.91,0.89,...,118.28,118.92,120.43,122.67,124.42,125.51,126.74,127.51,128.00,128.88
26,74,Ireland,Northern Europe,8.18,8.42,8.47,8.65,8.88,9.16,9.22,...,104.33,106.12,107.58,111.40,113.36,115.42,116.16,118.81,120.38,120.64
28,76,Italy,Southern Europe,5.58,5.65,5.70,5.79,5.86,5.92,5.97,...,104.90,106.13,109.33,111.33,113.70,118.60,119.07,119.57,120.03,119.77
29,78,Japan,Eastern Asia,30.95,31.39,31.46,32.34,32.82,33.39,33.77,...,101.64,101.84,102.52,103.54,104.56,105.78,106.25,107.03,107.85,108.87
31,97,Malta,Southern Europe,24.66,24.70,24.80,25.37,25.58,25.62,25.35,...,116.27,117.59,118.70,122.67,124.53,126.19,127.09,129.56,129.81,130.77
32,100,Mauritius,Sub-Saharan Africa,3.55,3.54,3.47,3.46,3.52,3.50,3.52,...,139.96,141.51,147.32,152.37,156.01,158.60,162.98,164.57,164.86,165.20
33,101,Mexico,Latin America and the Caribbean,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,130.13,133.00,135.81,138.37,141.21,143.65,145.94,146.28,147.74,149.99
35,109,Nepal,Southern Asia,4.26,4.51,4.63,4.48,4.32,4.32,4.52,...,208.28,213.61,213.51,219.37,225.63,230.66,229.57,235.45,243.05,244.35
36,110,Netherlands,Western Europe,22.51,22.84,23.11,23.42,23.97,24.58,24.86,...,110.58,113.12,116.42,119.30,124.14,125.85,124.13,126.03,127.33,126.86
38,114,Niger,Sub-Saharan Africa,14.37,14.86,14.95,15.15,15.04,15.36,15.81,...,119.41,117.62,120.09,121.96,123.54,121.39,121.89,123.15,129.97,130.00
39,118,Norway,Northern Europe,12.54,12.71,12.97,13.21,13.43,13.55,13.71,...,116.70,118.07,118.90,121.77,124.57,125.90,126.77,129.67,130.20,131.60
40,120,Pakistan,Southern Asia,2.89,2.93,2.99,3.03,3.07,3.06,3.12,...,219.44,231.69,237.27,249.18,274.54,289.48,312.05,335.12,354.25,372.26
41,122,Panama,Latin America and the Caribbean,28.86,29.15,29.43,29.67,29.80,29.75,29.85,...,122.62,123.21,124.32,127.15,125.69,125.36,126.84,127.46,127.82,127.87
42,124,Paraguay,Latin America and the Caribbean,0.56,0.56,0.57,0.57,0.59,0.58,0.59,...,154.36,158.84,163.38,167.96,170.25,171.81,174.88,176.11,175.84,177.76
43,125,Peru,Latin America and the Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,139.84,142.46,144.65,148.76,152.36,154.73,157.43,160.03,161.04,160.77
44,126,Philippines,South-eastern Asia,1.76,1.85,1.95,2.05,2.19,2.24,2.37,...,138.22,139.36,141.81,144.43,147.25,150.38,153.58,153.16,155.15,156.88
45,128,Portugal,Southern Europe,1.69,1.69,1.71,1.75,1.82,1.88,1.93,...,104.67,106.02,107.64,113.01,114.19,116.51,116.26,117.94,118.13,118.48
46,132,Samoa,Polynesia,4.44,4.49,4.52,4.52,4.58,4.64,4.76,...,121.81,123.77,125.35,128.69,139.43,136.19,140.05,143.79,144.63,143.40
47,139,Singapore,South-eastern Asia,30.72,30.52,30.77,30.82,31.34,30.93,31.34,...,116.91,118.73,120.71,123.11,125.48,126.62,128.13,129.38,130.61,131.71
48,143,South Africa,Sub-Saharan Africa,1.75,1.79,1.82,1.84,1.85,1.89,1.92,...,132.91,134.31,136.33,139.53,143.45,144.62,146.24,148.53,150.65,152.76
49,145,Spain,Southern Europe,4.70,4.73,4.88,4.99,5.07,5.18,5.24,...,106.91,110.31,112.60,116.30,117.67,117.58,118.29,119.84,120.98,121.42
50,146,Sri Lanka,Southern Asia,1.97,1.99,1.98,2.00,2.00,2.02,2.03,...,176.50,186.78,202.66,252.88,298.87,303.71,307.95,307.14,306.23,311.83
51,149,Sweden,Northern Europe,12.92,13.11,13.31,13.51,14.03,14.01,14.23,...,109.78,111.37,113.18,116.89,120.45,124.24,126.10,128.36,129.75,131.14
52,150,Switzerland,Western Europe,33.38,33.66,34.11,34.83,35.46,35.95,36.39,...,101.44,101.83,102.59,104.21,104.87,104.82,105.87,106.44,106.55,106.51
53,162,United Kingdom,Northern Europe,8.17,8.37,8.46,8.64,8.88,9.19,9.32,...,112.00,114.10,115.50,119.70,121.80,124.80,125.90,128.90,129.50,130.30
54,163,United States,Northern America,16.03,16.30,16.48,16.71,16.83,17.02,17.20,...,115.45,117.20,119.87,123.44,125.06,125.52,126.83,128.35,129.46,129.59
55,164,Uruguay,Latin America and the Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,242.11,246.40,254.24,259.92,265.54,267.59,273.67,277.84,276.85,280.41

***Transformation 3: Creating the New Dataframe***
<br>
<br>
Up until this point, we have been working with "prior" data. This was necessary because just making API calls for contextual data requires inputs and one of the ones we need is a list of countries to work with. So we whittled the list of countries down to 50 in order to work with NewsAPI's limit of 50 per 24 hour period. This list of countries can be used to create the new dataframe that will hold the news information.

In [18]:
# Creating the list of countries
countries = fifty_countries['country'].to_list()

# Creating the new dataframe
news_data = pd.DataFrame({'Countries' : countries})
news_data.tail()

         Countries
45          Sweden
46     Switzerland
47  United Kingdom
48   United States
49         Uruguay

With the new dataframe created, we can work on acquiring the news data. Ideally, we can store the links that allowed scraping as well as the top words in the set of scraped articles according to TFIDF.

In [20]:
# Initializing lists for the news_data dataframe
article_urls = []  # Space to store lists of article urls for each country
keywords = [] # Space to store lists of important words from tfidf

# Looping through the countries to acquire recent news information on each country and inflation according to NewsAPI. 
for country in countries:
    news = newsapi_crier([country, 'inflation'])  # Querying for the country and inflation
    articles = news['articles']  # Indexing for the articles
    if len(articles) != 0:  # Making sure that there are articles to work with
        country_urls = []  # Initializing a list to hold the urls used for scraping, processing, and tfidf
        processed_texts = []  # Initializing a list to hold the processed texts
        i = 0  # Establishes a variable to index with
        while len(country_urls) < 10:  # Creating a while loop to scrape text from urls and process the text
            try:  # Using a try block in case there are less than 10 scrape-able urls
                url = articles[i]['url']  # Indexes for the url
                article = news_scraper(url)  # Tries to scrape from the url
                if article != 400:  # If scrape is successful
                    country_urls.append(url)  # Stores the URL
                    processed = text_processor(article)  # Processes the text
                    processed_texts.append(processed)  # Stores the processed text
                    i += 1
                else:  # If scrape is unsuccessful, move to the next url
                    i += 1
                    continue
            except IndexError:  # If there are less than 10 urls, it will break once it reaches the end via index error
                break
        top_words = top_words_tfidf(processed_texts) # Applies TFIDF Vectorization to the processed texts and extracts top words as a list
        article_urls.append(country_urls)  # Storing the urls used for TFIDF for the news_data dataframe
        keywords.append(top_words)  # Storing the top words from TFIDF for the news_data dataframe
    else:  # If there are no articles, append NA to article_urls and keywords
        article_urls.append(np.nan)
        keywords.append(np.nan)
        continue

Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 404
Unable to scrape from URL. Status Code: 401
Unable to scrape from URL. Status Code: 401
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 400
Unable to scrape from URL. Status Code: 404
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 429
Unable to scrape from URL. Status Code: 401
Unable to scrape from URL. Status Code: 404
Unable to scrape from URL. Status Code: 404
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 429
Unable to scrape from URL. Status Code: 404
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 400
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403
Unable to scrape from URL. Status Code: 403

***Transformation 4: Adding the URLs Used for Each Country***
<br>
<br>
Now that we have the list of URLs used for scraping, we can add them to the news_data dataframe.

In [22]:
# Adding the URL field
news_data['URLs'] = article_urls
news_data.head()

   Countries                                               URLs
0  Argentina  [https://www.semafor.com/article/07/19/2024/ar...
1  Australia  [https://gizmodo.com/costco-raising-membership...
2    Austria  [https://money.com/how-bad-is-inflation-under-...
3    Belgium  [https://qz.com/national-french-fry-day-deal-m...
4    Bolivia  [https://www.bbc.com/news/articles/c25lpxzw9wl...

***Transformation 5: Adding the Top Words Found for Each Country***
<br>
<br>
We can also add the list of top words found for each country to the news_data dataframe.

In [24]:
news_data['Top Words'] = keywords
news_data

,Countries,URLs,Top Words
0,Argentina,[https://www.semafor.com/article/07/19/2024/ar...,"[soon, come, mortgag, inflat, price, crypto, a..."
1,Australia,[https://gizmodo.com/costco-raising-membership...,"[wage, drink, depart, membership, prime, store..."
2,Austria,[https://money.com/how-bad-is-inflation-under-...,"[soon, music, come, inflat, page, startribun, ..."
3,Belgium,[https://qz.com/national-french-fry-day-deal-m...,"[fri, email, expect, invest, 12, leader, kagam..."
4,Bolivia,[https://www.bbc.com/news/articles/c25lpxzw9wl...,"[best, biden, damodaran, aswath, credit, jul, ..."
5,Burkina Faso,"[https://removed.com, https://www.project-synd...","[soon, email, hiv, come, imf, meal, frequenc, ..."
6,Burundi,[https://finance.yahoo.com/news/poorest-countr...,"[soon, come, pbf, israel, hiv, imf, abus, chil..."
7,Cameroon,[https://journals.plos.org/plosone/article?id=...,"[hiv, israel, pbf, imf, food, health, tech, te..."
8,Canada,[https://gizmodo.com/costco-raising-membership...,"[percent, membership, inflat, store, bank, ms,..."
9,Colombia,"[https://biztoc.com/x/09b295058335e90b, https:...","[email, maduro, wage, secret, quarterli, team,..."
10,Cyprus,[https://www.nakedcapitalism.com/2024/07/links...,"[percent, gold, syria, cypriot, erdogan, vacat..."
11,Denmark,[https://www.yahoo.com/news/tesla-build-coloss...,"[email, citi, wage, energi, eu, expens, bank, ..."
12,Dominican Republic,[https://www.voanews.com/a/venezuelan-oppositi...,"[hyatt, union, credit, resort, venezuela, madu..."
13,Ecuador,[https://www.yahoo.com/news/riskiest-nations-s...,"[soon, come, tariff, shrimp, chile, homeless, ..."
14,El Salvador,[https://gizmodo.com/the-workers-who-feed-amer...,"[soon, bitcoin, harri, farmwork, come, gold, n..."
15,France,[https://www.businessinsider.com/us-deal-frees...,"[fri, drink, olymp, hasina, skochilenko, mcdon..."
16,Gabon,[https://punchng.com/report-links-slow-office-...,"[hiv, israel, offic, african, real, custom, te..."
17,Germany,[https://www.businessinsider.com/us-deal-frees...,"[wage, dividend, drink, skochilenko, insolv, t..."
18,Ghana,[https://www.yahoo.com/news/ghana-sees-growth-...,"[imf, protest, money, natur, ssa, rate, risk, ..."
19,Greece,[https://www.businessinsider.com/inflation-eco...,"[soon, email, consum, imf, come, 12, trend, pr..."
20,Honduras,[https://time.com/7001208/kamala-harris-views-...,"[soon, percent, harri, latino, trump, come, bi..."
21,Iceland,[https://www.forbes.com/sites/johnbremen/2024/...,"[alvotech, kk, olymp, medal, miner, technolog,..."
22,India,[https://www.businessinsider.com/what-is-unive...,"[drink, parent, harri, prime, middl, consum, m..."
23,Indonesia,[https://www.forbes.com/sites/timtreadgold/202...,"[nickel, marco, jr, bi, penang, mine, cut, tra..."
24,Ireland,[https://www.bbc.com/news/articles/cek95vgnm79...,"[soon, water, come, rate, wage, advertis, live..."
25,Italy,[https://www.businessinsider.com/financial-the...,"[drink, wage, wed, trump, percent, clayman, ba..."
26,Japan,[https://gizmodo.com/costco-raising-membership...,"[harri, wage, membership, economist, defens, r..."
27,Malta,[https://finance.yahoo.com/news/morning-bid-po...,"[gold, rate, fiscal, cent, per, lend, mortgag,..."
28,Mauritius,[https://www.forbes.com/sites/markfaithfull/20...,"[u0009, hiv, rs, store, medic, test, franci, g..."
29,Mexico,[https://gizmodo.com/costco-raising-membership...,"[vanc, cruz, literaci, food, harri, membership..."
30,Nepal,[https://www.forbes.com/sites/zengernews/2024/...,"[wheeler, export, estat, studi, crore, insomni..."
31,Netherlands,[https://www.theatlantic.com/politics/archive/...,"[soon, beer, wage, come, pain, fatigu, trump, ..."
32,Niger,"[https://removed.com, https://www.rt.com/afric...","[soon, come, develop, anthem, coloni, email, h..."
33,Norway,[https://www.forbes.com/sites/katharinabuchhol...,"[ev, cent, per, wage, norwegian, olymp, cut, r..."
34,Pakistan,[https://tech.slashdot.org/story/24/07/19/2037...,"[real, estat, pakistan, russia, financ, hasina..."
35,Panama,[https://www.forbes.com/sites/johnbremen/2024/...,"[score, ship, maduro, hot, stock, paraguay, bl..."
36,Paraguay,[https://finance.yahoo.com/news/paraguay-raise...,"[rate, said, venezuela, bloomberg, paraguay, m..."
37,Peru,[https://www.forbes.com/sites/davidbirnbaum/20...,"[dividend, would, invest, fed, financi, willia..."
38,Philippines,[https://time.com/7001208/kamala-harris-views-...,"[harri, wage, china, rice, marco, vietnam, min..."
39,Portugal,[https://www.mckinsey.com/industries/electric-...,"[soon, come, rate, ecb, fed, powel, spain, gre..."
40,Samoa,[https://www.greenbiz.com/article/hawaii-seabe...,"[mine, american, deep, sea, republican, minist..."
41,Singapore,[https://www.forbes.com/sites/brendanahern/202...,"[email, crypto, money, eliason, penang, citi, ..."
42,South Africa,[https://www.yankodesign.com/2024/07/24/fully-...,"[soon, email, drink, come, marco, trailer, jr,..."
43,Spain,[https://www.bbc.com/news/articles/c0dmvdmmv80...,"[drink, mango, nh, milei, energi, green, 49, a..."
44,Sri Lanka,[https://www.aljazeera.com/news/2024/7/26/sri-...,"[bitcoin, ga, elect, properti, energi, rate, s..."
45,Sweden,[https://www.forbes.com/sites/katharinabuchhol...,"[dividend, wage, sek, cut, countri, uk, pound,..."
46,Switzerland,[https://www.forbes.com/sites/brittanyanas/202...,"[citi, jordan, uk, chf, fed, bore, xtra, hold,..."
47,United Kingdom,[https://www.project-syndicate.org/commentary/...,"[gold, drink, email, f1, insulin, citi, race, ..."
48,United States,[https://gizmodo.com/the-1-7-billion-bet-on-am...,"[vanc, farmwork, food, harri, border, climat, ..."
49,Uruguay,[https://finance.yahoo.com/news/charting-globa...,"[fish, patent, damodaran, aswath, milei, jul, ..."

***Conclusion and Ethical Implications of Analysis***
<br>
<br>
This textual analysis had a number of hurdles the flat-source and online-source analyses didn't have to deal with. First off, the articles used for analysis depend entirely on how relevant NewAPI thinks the articles actually are. An example from testing the intial workings of this script is an excellent example. When using 'colombia' and 'inflation' as the keywords for NewsAPI. Using '+' can make sure a search term is included in the article and the top article with or without '+' for Colombia's search was an article about the Unied States Secret Service budget. This link allowed for text scraping and nothing short of manual exclusion would prevent the article, which had nothing to do with Colombia, from becoming part of the corpus of articles used in TFIDF analysis for Colombia's inflation articles. This means this script has less control than we like over what is actually pertaining to inflation and the country in question. This can be seen in the list of top words in the news_data dataframe.
<br>
<br>
A second concern is the limits on the number of calls that can be made to NewsAPI with free accounts. The initial purpose of this analysis was to see the scope of how inflation changed over time, going all the way back to 1970. A large number of countries didn't exist back then and experienced very different things at certain times, like post-Soviet and post-Yugoslavia countries. Being limited to only 50 API calls over a 12 hour period severely hampers the scope of this script as an academic assignment. If this analysis were being done over a long period of time, repeated sets of calls could be made on different days and the results could be saved to the computer running the function. This assignment is supposed to be run a single time and work as intended though, without saving data. This is a critical conflict that will limit the amount of contextual information allowed in the final product when all three datasets are put together (either as an intersection of all 3 datasets having only 50 countries or as an intersection of the first two datasets and union of that with this dataset).
<br>
<br>
The final concern with this script is its efficiency/timeliness. Looping through each country in a fifty country list and taking the steps being taken does require dedicated computing time. Unfortunately, I am not currently aware of ways in the code to force higher CPU usage in order to shorten computing time (like with the n_jobs parameter for various models). Taking the process used and applying it as a function with a lambda function mapped to the dataframe would be unlikely to remedy this issue.
<br>
<br>
If this were being done in a busniess/commercial setting, the second problem could be done away with. That would be at a cost of at least $499/month though, something that is prohibitively expensive in an academic setting like this one.
<br>
<br>
As of the writing of this conclusion, the process used for finding the top words according to TFIDF for each country's news query has hit its limit. I'm sincerely hoping that all possible errors have been identified but I can only hope that the code listed is robust enough. There is no more time to test it out fully. The limiting of data gathering to 50 countries is a by-product of running into the limits of a free account with NewsAPI. Before then, debugging work was being done on the code to make sure loops were being exited correctly for countries with less than 10 scrape-able articles and Armenia was being an issue. After that was fixed, Canada gave some context for additional errors that could be encountered before running out of queries for 12 hours. My current belief is that the code is now robust enough to move past errors but that is yet to be seen in an ethical manner (use of a naked except clause is discouraged but being done to try and make sure the process can be completed). A future running of this code to prepare for the merging may identify other problems that could be fixed post-submission to make sure a clean dataframe with news information is able to be used for merging with the other dataframes as a final product.

In [60]:
# Writing the darto to CSV
news_data.to_csv('news_data.csv', index=False)